<!DOCTYPE html>
<html>
  <head>
    <title>Badhabitbreaker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>

        <div class="jumbotron">
          <h1><%= User.name %></h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
        </div>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>  
        </li>

        <div class="jumbotron">
          <h1>BadHabitBreaker</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        </div>
      <% end %>

    <%= yield %>


      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    
     <% if Rails.env.development? %>
       <%= console %>
     <% end %>

  </body>
</html>
